<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LUHack web app</title>
    </head>
    <body>
        Welcome to the LUHack web app.<br />
        Here you will find:

        <ul>
            <li><a href="/sqli">A server vulnerable to sqli</a>.</li>
            <li><a href="/ssti">A server vulnerable to ssti</a>.</li>
            <li><a href="/csrf">A server vulnerable to csrf</a>.</li>
        </ul>
    </body>
</html>
